<div class="text-center">
    <h1 class="display-4">Product Add</h1>
    <form method="get">
        <p>
            <input type="text" placeholder="Name" name="Name" />
        </p>
        <p>
            <input type="text" placeholder="Description" name="Description" />
        </p>
        <p>
            <input type="text" placeholder="Price" name="Price" />
        </p>
        <p>
            <input type="number" placeholder="Count" name="Count" />
        </p>
        <p>
            <button type="submit">Add Product</button>
        </p>
    </form>
</div>