html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
}

.product-card {
    text-decoration: none;
    color: inherit;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.2s ease;
}

.product-container {
    text-decoration: none;
    max-width: 400px;
    color: inherit;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.2s ease;
}

.product-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

.product-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    padding: 16px;
}

h4 {
    text-align: center;
}

.product-title {
    margin: 0;
    font-weight: 500;
}

.product-desc {
    margin: 0;
    font-size: 14px;
    text-align: left;
}

.product-price{
    color: #2c8106
}

.bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between
}
